<!DOCTYPE html>
<html manifest="/application.manifest">
<head>
  <title>RailsOffline</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application",  "jquery.tmpl", "json", "jquery.offline" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
